@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif;
}

.main-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.main-wrapper .pageHeader .header {
    background-color: #00184d !important;
    box-shadow: 0 0 0.625rem #202020 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.125rem;
    padding: 0.313rem;
    overflow: hidden;
    z-index: 10;
}

.main-wrapper .pageHeader .header .header-title {
    color: #f1f1f1 !important;
    margin: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper .content .side-menu {
    background: #206dc5 !important;
    box-shadow: 0 0.063rem 0.313rem #888888 !important;
    position: fixed;
    top: 3.125rem;
    left: 0;
    width: 3.75rem;
    height: calc(100% - 3.125rem);
    z-index: 9;
    transition: .3s;
}

.main-wrapper .content .side-menu .side-bar {
    position: relative;
    height: 100%;
    padding: 0.313rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.main-wrapper .content .side-menu .side-bar a.menubutton:focus,
.main-wrapper .content .side-menu .side-bar a:focus {
    outline: none;
    box-shadow: none;
}

.main-wrapper .content .side-menu .side-bar a.showMenuButton {
    display: block;
}

.main-wrapper .content .side-menu .side-bar a.closeMenuButton {
    display: none;
}

.main-wrapper .content .side-menu .side-bar a.menubutton {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: left !important;
    width: 3rem;
    transition: 0.3s;
    height: 2.375rem;
}

.main-wrapper .content .side-menu .side-bar a.menubutton i {
    margin-top: 0.313rem;
}

.main-wrapper .content .side-menu .side-bar a.menubutton span {
    position: absolute;
    top: 0.313rem;
    left: 3.125rem;
}